// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import 'themes/bootstrap';
@import 'assets/icons';

.text-t-t {
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
  font-style: oblique;
  font-weight: bolder;
  color: white;
}

.text-t-c {
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
}

.style-t-t {
  border-style: solid;
  border-width: 1px;
  background-color: #0a7a6f;
  padding: 8px;
  text-align: center;
  color: white;
  border-color: gray;
}

.style-t-c {
  border-style: solid;
  border-width: 1px;
  background-color: whitesmoke;
  padding: 8px;
  text-align: center;
  color: black;
  border-color: gray;
}

.cell {
  background-color: white;
  margin: 3%;
  width: fit-content;
}

.inputMatrix {
  background-color: #9fbdba;
  margin: 3px;
  width: 50px;
  border-radius: 5%;
  justify-content: center;
}
  
  